.quiz-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .quiz-image {
    width: 40%;
  }
  
  .quiz-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .quiz-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h3 {
    font-size: 1.2rem;
    color: #333;
  }


  
  .quiz-option.correct {
    background-color: rgb(128, 238, 128);
    color: white;
  }
  
  .quiz-option.incorrect {
    background-color: #FFCCCC;
    color: white;
  }
  
  
  
  .quiz-navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .next-button {
    background-color: #ff00ff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .next-button:hover {
    background-color: #cc00cc; 
  }
  

  .quiz-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #d3a4f7; 
    border-radius: 20px; 
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease; 
  }

  
  .quiz-option:hover {
    border-color: #ff00ff; 
  }
  
  .quiz-option input[type="radio"] {
    display: none; 
  }
  
  .quiz-option label {
    color: #555;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .quiz-option.selected {
    background-color: #f3e5ff; 
    border-color: #d3a4f7; 
  }
  
  .quiz-score {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
  }