.quiz-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    height: 80vh;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 10;
  }
  
  .quiz-question {
    width: 60%;
  }
  
  .quiz-image {
    width: 40%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quiz-image img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .quiz-options {
    display: flex;
    flex-direction: column;
    width: 60%;
    overflow-y: auto;
  }
  
  .quiz-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #d3a4f7;
    border-radius: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
  }
  
  .quiz-option.correct {
    background-color: rgb(168, 231, 168);
    color: white;
  }
  
  .quiz-option.incorrect {
    background-color: #FFCCCC;
    color: white;
  }
  
  .quiz-option:hover {
    border-color: #ff00ff;
  }
  
  .quiz-option label {
    color: #555;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  

  @media (max-width: 768px) {
    .quiz-container {
      flex-direction: column; 
      align-items: center;
      height: auto;
    }
  
    .quiz-question {
      order: 1;
      width: 100%;
      text-align: center;
    }
  
  
    .quiz-image {
        order: 2;
        width: 100%;
        height: 300px; 
        margin: 10px 0;
      }
  
    .quiz-options {
      order: 3;
      width: 100%;
    }
  
    .quiz-option {
      font-size: 0.9rem;
    }
  
    .quiz-score {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 20px 0;
        font-family: 'Roboto', sans-serif;
      }
  }
  